.channels {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
}

.channel-button {
    background-color: transparent;
    color: #202225;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color  0.3s ease-in-out;
}

.channel-button:hover {
    background-color: #ebebeb;
}

.new-channel-button {
    background-color: #677bc4;
    color: #202225;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color  0.3s ease-in-out;
}