.profile-dropdown {
  position: absolute;
  right: 20px;
  top: 70px;
  list-style: none;
  background-color: beige;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}