.homepage-wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.homepage-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* about section */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.about h2 {
    text-align: center;
    font-family: 'Moirai One', cursive;
    font-size: 3rem;
}

.about p {
    text-align: center;
    font-size: 1.5rem;
}

.about img {
    height: 100%;
    width: 100%;
    image-rendering: auto;
    object-fit: cover;
}

/* how to section */
.how-to {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.how-to h2 {
    text-align: center;
    font-family: 'Moirai One', cursive;
    font-size: 2rem;
}

.how-to p {
    text-align: center;
    font-size: 1.25rem;
}

.how-to img {
    height: 100%;
    width: 100%;
    image-rendering: auto;
    object-fit: cover;
}
/* founder section */

.founders-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.founders-cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.founders-cards p {
    text-align: center;
    font-size: 18px;
}

.founders-cards img {
    height: 100px;
    width: 100px;
    image-rendering: auto;
    object-fit: contain;
    border-radius: 20%;
    border: 2px solid black;
    background-color: white;
}

.founders-cards h4 {
    text-align: center;
    margin-bottom: 0;
}

.founders-cards a {
    text-decoration: none;
    color: #000000;
    width: 50px;
    height: 50px;
}

.founders-cards a:hover {
    text-decoration: none;
    color: white;
    width: 50px;
    height: 50px;
}

.founders-cards i {
    font-size: 2rem;
}




/*misc webloiter section */

.webloiter-example {
    border:1px solid #ff686b;
}



@media (max-width: 1000px) {
    .founders-cards {
        grid-template-columns: 1fr;
        /* Single column */
        gap: 20px;
        /* Adjust the gap as desired for small screens */
    }

    .how-to {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .how-to h2 {
        text-align: center;
        font-family: 'Moirai One', cursive;
        font-size: 2rem;
    }
    
    .how-to p {
        font-size: .75rem;
        text-align: center;
    }
    
    .how-to img {
        height: 100%;
        width: 100%;
        image-rendering: auto;
        object-fit: cover;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    
    .about h2 {
        text-align: center;
        font-family: 'Moirai One', cursive;
        font-size: 2rem;
    }
    
    .about p {
        text-align: center;
        font-size: 1rem;
    }
    
    .about img {
        height: 100%;
        width: 100%;
        image-rendering: auto;
        object-fit: cover;
    }

    .homepage-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }



}
